fish_history
fish_variables
fishd.*

# Fisher / fish-nvm
completions/
conf.d/*
fishfile

functions/_*
functions/fish_*
functions/fzf_key_bindings.fish
functions/nvm.fish

# Exceptions
!conf.d/bookmarks.fish
